<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<style>
.chess-board {
	border-spacing: 0;
	border-collapse: collapse;
}

.chess-board th {
	padding: .5em;
}

.chess-board td {
	border: 2px solid;
	width: 6em;
	height: 6em;
	text-align: center;
}

.chess-board .light {
	background: #eee;
	color: #b3b3b3;
}

.chess-board .movable img {
	width: 48px;
}

.chess-board .selected img {
	border: 5px solid #3bfff2;
	border-radius: 50%;
	padding: 10px;
}

.chess-board .dark {
	background: #70818e;
	color: #fff;
}

.linkReset {
	text-align: center;
	margin-top: 1em;
}

.killable img {
	border: 5px solid #e0aeae;
	border-radius: 50%;
	padding: 10px;
}

.linkReset a {
	color: #70818e;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script th:inline="javascript">
	function getData(piecetype, xNum, yNum, color) {

		$("td.movable").find('a').each(function() {

			moveableImgSrc = $(this).find('img').attr('src');
			if (moveableImgSrc.trim() == "greencircle.png") {
				$(this).remove();
			}
		});

		$("td").removeClass("selected movable killable");
		$("#id" + xNum + '' + yNum).addClass("selected");

		let pieceStr = JSON.stringify({
			color : color,
			pieceType : piecetype
		});
		request = {
			pieceType : piecetype,
			piece : pieceStr,
			currentLocation : {
				xNum : xNum,
				yNum : yNum
			},
			color : color
		};

		$
				.ajax({
					type : 'POST',
					url : '/checkmoves',
					data : JSON.stringify(request),
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					success : function(response) {
						$
								.each(
										response.possibleMoves,
										function(k, v) {
											$("#id" + v.xNum + '' + v.yNum)
													.addClass("movable");
											htmlval = $(
													"#id" + v.xNum + ''
															+ v.yNum).html();
											//console.log(htmlval.trim());

											url = "##/moveHere?pieceType="
													+ piecetype + "&xNum="
													+ v.xNum + "&yNum="
													+ v.yNum + "&color="
													+ color + "&fromXNum="
													+ xNum + "&fromYNum="
													+ yNum;
											onclickEvent = "return movehere('"
													+ piecetype + "'," + v.xNum
													+ "," + v.yNum + ",'"
													+ color + "'," + xNum + ","
													+ yNum + ")";

											if (htmlval.trim() == null
													|| htmlval.trim() == "") {
												$("#id" + v.xNum + '' + v.yNum)
														.html(
																'<a href="'+url+'" onclick="'+onclickEvent+'"><img src="greencircle.png" width="48px" /></a>');
											} else {
												$("#id" + v.xNum + '' + v.yNum)
														.find('a').attr("href",
																url).attr(
																"onclick",
																onclickEvent);

											}

											if (v.killable) {
												$("#id" + v.xNum + '' + v.yNum)
														.addClass("killable");
											}
										});
					}

				});

	}
</script>

<script th:inline="javascript">
	function movehere(piecetype, xNum, yNum, color, fromXNum, fromYNum) {
		console.log("Moving  to " + xNum + "," + yNum + " with " + color + " "
				+ piecetype + " from " + fromXNum + "," + fromYNum + ".");

		let pieceStr = JSON.stringify({
			color : color,
			pieceType : piecetype
		});

		request = {
			piece : pieceStr,
			pieceType : piecetype,
			currentLocation : {
				xNum : fromXNum,
				yNum : fromYNum
			},
			destinationLocation : {
				xNum : xNum,
				yNum : yNum
			},
			color : color
		};

		$.ajax({
			type : 'POST',
			url : '/moveHere',
			data : JSON.stringify(request),
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			success : function(response) {
				location.reload(true);
			}
		});

		return false;
	}
</script>

<script th:inline="javascript">
	$(document).ready(function() {
		// Handler for .ready() called.
		$('html, body').animate({
			scrollTop : $('#chessboard').offset().top
		}, 'slow');
	});
</script>

</head>
<body>
	<!-- <h1 align="center" style="color: #1b2e3c">Chess Master</h1> -->
	<div id="fill"></div>
	<table class="chess-board" align="center" id="chessboard">
		<tbody>
			<tr th:each="row : ${board}">
				<td th:each="cell: ${row}" th:class="${cell.cssClass}"
					th:id="'id' + ${cell.xNum} + ${cell.yNum}"><a
					th:href="@{'#' + ${cell.xNum} + ${cell.yNum}}"
					th:attr="onclick=|getData('${cell.occupyingPiece.pieceType}', ${cell.xNum}, ${cell.yNum}, '${cell.occupyingPiece.color}')|"
					th:if="${cell.occupyingPiece != null}"><img
						th:src="${cell.occupyingPiece.imgName}" /></a></td>
			</tr>
		</tbody>
	</table>

	<div class="linkReset">
		<a href="/reset">Restart Game</a>
	</div>
</body>
</html>